* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #E1882C;
    --secondary-color: #1D1A05;
    --transparent-secondary: #1D1A05BF;
    --accent1-color: #54A49E;
    --accent2-color: #FFFFC5;
    --transparent-accent2: #FFFFC5BF;
    --text-width: 70%;
}

.hero h1 {
    position: absolute;
    top: 30%;
    font-family: "Calistoga", serif;
    font-weight: 400;
    color: var(--primary-color);
    padding: 1rem;
    background-color: var(--transparent-secondary);
    width: 100%;
    text-align: center;
}

h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: var(--accent1-color);
    padding: 1rem;
    text-align: center;
}

p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: larger;
}

.hero div{
    position: relative;
}

div img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    width: var(--text-width);
    position: absolute;
    left: 15%;
    top: 55%;
    background-color:var(--transparent-accent2);
}
article img {
    width: 200px;
    height: auto;
    float: right ;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    padding: 0;
}

section img {
    width: 400px;
    margin: 5px;
    border: 2px solid var(--accent1-color);
    padding: 0;
}
section p {
    width: var(--text-width);
    margin: 0 auto;
    text-align: justify;
}