*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}

:root{
    --highlight-color: steelblue;
}

header, .grid,  footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--highlight-color);
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

main{
    margin: 10px;
    grid-column: 2/3;
}

h1{
    color: var(--highlight-color);
    padding: 10px;
    border-bottom: 1px solid var(--highlight-color);
    font-family: "Playfair Display", serif;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    margin: 20px;
    border: 1px solid var(--highlight-color);
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p{
    padding: 10px;
    text-align: justify;
}

aside{
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 20px;
    border-top: 1px dotted black;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid palevioletred;
    padding: 1rem;
    background-color: pink;
    color: black;
}